// Generic
@import "./generic/normalize";
@import "./generic/light-reset";
@import "./generic/box-sizing";

// Elements
@import "./elements/body";
@import "./elements/headings";
@import "./elements/img";
@import "./elements/html";
@import "./elements/links";

// Objects
@import "./objects/container";
@import "./objects/ui-list";

// Atoms
@import "./atoms/button";
@import "./atoms/lead";

// Molecules
@import "./molecules/card";

body {
	padding: 2rem;
}
