// Base colors
$_white: #fff;
$_anti-flash-white: #f2f2f2;
$_light-gray: #d1d3d4;
$_lavender: #e3f2fd;
$_spanish-gray: #999;
$_gunmetal: #2a313b;
$_raisin-black: #212122;
$_black: #000;
$_strawberry: #F95794;
$_irresistible: #b6406c;
$_carnation-pink: #fba3c4;

// Gral
$neutral-shade: $_raisin-black;

// Primary
$primary-color: $_strawberry;
$primary-shade-1: $_carnation-pink;
$primary-shade-2: $_irresistible;

// Background
$background-dark-color: $_gunmetal;

// Text
$text-dark-color: $_light-gray;
$text-color: $_anti-flash-white;


// Color
$dark-color: $_black;
$white-color: $_white;
