$_cultured: #f4f4f4;
$_arsenic: #3c484e;
$_medium-jungle-green: #15302C;
$_sea-blue: #026C86;
$primary-color: $_cultured;
$primary-dark-color: $_medium-jungle-green;

// $background-dark-color: $_baltic-sea;
// $background-darker-color: $_cod-gray;
$background-light-color: $_cultured;

// $background-lighter-color: $_white;

$text-color: $_medium-jungle-green;
$text-name-character-color: $_sea-blue;

// $text-header-color: $_medium-jungle-green;

// $border-color: $_dove-gray;
// $border-inverted-color: $_gallery;
